on:
  push: 
    branches: 
      - main 
jobs: 
  build: 
      runs-on: ubuntu-latest
      steps:
        - name: "checkout code"
          uses: actions/checkout@v4
        - name: Install dependencies
          run: npm install

        - name: Build
          run: echo "Building project ..."
        - name: Notification
          if: failure()
          run: | 
            curl -X POST -H "Content-Type: application/json"\ -d '{"status" : "Build failed"}' \
            https://webhook.site/34dcee45-cab8-45bf-a1b0-941abf868a0f
             
  test: 
      runs-on: ubuntu-latest
      needs: build
      steps:
        - name: Run Tests
          run: echo "Running tests ..."
          
  deploy: 
      runs-on: ubuntu-latest
      needs: test
      steps:
        - name: Deploy to final stage
          run: echo "Deploying project ..."    
