on:
  push: 
    branches: 
      - main 
jobs: 
  build: 
      runs-on: ubuntu-latest
      steps:
        - name: Build
          run: echo "Building project ..."
        - name: Notification
          if: failure()
          run: | 
            curl -X POST -H "Content-Type: application/json"\ -d '{"status" : "Build failed"}' \
            https://66f8-105-186-107-221.ngrok-free.app -> http://localhost:8080
  test: 
      runs-on: ubuntu-latest
      needs: build
      steps:
        - name: Run Tests
          run: echo "Running tests ..."
  deploy: 
      runs-on: ubuntu-latest
      needs: test
      steps:
        - name: Deploy to final stage
          run: echo "Deploying project ..."    
